/* p {
        color: rgb(157, 135, 14);
        background-color: #6affcd;
      } */
/* h2 {
        color: #b30fea;
        background-color: #6affcd;
      } */

/* .headingOne {
        color: red;
      }
      .headingTwo {
        background-color: rgb(255, 68, 0);
      }
      #firstPara {
        background-color: green;
      }

      .headingOne,
      .colorBlue {
        color: green;
      }
      .colorBlue {
        color: blue;
      }
      #customers {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #customers td,
      #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #customers th {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        background-color: rgb(4, 89, 4);
        color: white;
      }
      #customers tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      #customers tr:hover {
        background-color: #ddd;
      }
      .firstul li {
        display: inline;
      }
      .firstul a {
        text-decoration: none;
      }
      .imageFloat {
        width: 170px;
        height: 170px;
        float: right;
      }
      .parent {
        background-color: cyan;
        text-align: center;
        padding: 10px;
        position: relative;
        height: 200vh;
      /* } */
/* skfjskdj */
/* .child-one {
        background-color: yellow;
        padding: 5px;
        position: sticky;
        top: 10px;
        left: 0;
      }
      .child-two {
        background-color: tomato;
        padding: 5px;
      }
      .child-three {
        background-color: green;
        padding: 5px;
      }
      .center-div {
        background-color: #6affcd;
        width: 30rem;
        max-width: 95%;
        text-align: center;
        margin: 2rem auto;
      } */
/* div p {
        background-color: yellow;
      } */

/* div > section {
        background-color: yellow;
      } */
/* div + p {
        background-color: yellow;
      } */
/* 
      div ~ p {
        background-color: yellow;
      }

      .mouseOver {
        background-color: green;
        color: white;
        padding: 20px;
        text-align: center;
      }

      .mouseOver:hover {
        background-color: blue;
      }
      p {
        display: none;
        background-color: yellow;
        padding: 20px;
      }
      .hintcss:hover p {
        display: block;
      } */
/* p:first-child {
        color: blue;
      } */

/* p i:first-child {
        color: red;
      } */

/* p::first-line {
        color: red;
        font-weight: 900;
      }
      p:first-child::first-line {
        color: blue;
      } */
/* p::first-letter {
  color: red;
  font-size: 32px;
}
h1::after {
  content: "- after heading";
}
h1::before {
  content: "before heading -";
}
ul li::marker {
  color: red;
  font-size: 25px;
}
::selection {
  color: red;

  background: yellow;
} */

.flex-container {
  align-items: baseline;
  background-color: dodgerblue;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  /* height: 200px; */
  /* align-items: stretch; */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */

  /* justify-content: center; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */

  /* flex-wrap: wrap-reverse; */
  /* flex-wrap: wrap; */

  /* column  top bottom */
  /* flex-direction: column; */

  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* botom top  */
  /* flex-direction: column-reverse; */
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 2rem;
  width: 150px;
  text-align: center;
}

.grid-container {
  display: grid;
  background-color: dodgerblue;
  padding: 10px;
  /* grid-template-columns: auto auto auto auto auto auto; */
  /* height: 400px; */
  /* grid-template-rows: 80px 200px 500px; */
  /* align-content: stretch; */
  /* align-content: center; */
  /* align-content: space-around; */
  /* align-content: space-between; */
  /* align-content: start; */
  /* align-content: end; */
  /* align-content: space-evenly; */

  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: center; */
  gap: 10px;
  /* grid-template-areas: "myArea myArea myArea myArea1 myArea1"; */
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
}

.grid-container > div {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}
/* .item1 {
  grid-column: 1 / span 5;
} */

/* .item2 {
  grid-column: 2 / span 3;
}
.item10 {
  grid-column: 10 / span 4;
} */
/* .item1 {
  grid-row: 1/ 4;
} */

/* .item8 {
  grid-area: 1 / 2 / 5 / 6;
} */
/* grid-area: 
grid-row-start / 
grid-colum-start /
grid-row-end / 
grid-colum-end
*/
